In [22]:
import pandas as pd

In [23]:
behav = pd.read_csv("/Users/skumar/Documents/PhD/BrainAnalysis/Behavior/summary.csv")
behav

,id,genotype,sex,exp_type,shock_color,shock_arm,treatment,replicates,ZT0,ZT,...,post_incorrect_choices,post_analysis_time,group,group_sex,folder,experiment_date,experiment_by,head_scanned,abs_dev,abs_dev_sex
0,17,dgrp100,female,operant_place,green,M,noShock,1,11:00:00,NaN,...,NaN,NaN,dgrp100_noShock,dgrp100_noShock_female,operant_place/20221222/csv/dgrp100_noShock/female,20221222,riddha,False,0.159876,0.172520
1,18,dgrp100,female,operant_place,green,R,noShock,1,11:00:00,NaN,...,NaN,NaN,dgrp100_noShock,dgrp100_noShock_female,operant_place/20221222/csv/dgrp100_noShock/female,20221222,riddha,False,0.030237,0.042881
2,19,dgrp100,female,operant_place,green,L,noShock,1,11:00:00,NaN,...,NaN,NaN,dgrp100_noShock,dgrp100_noShock_female,operant_place/20221222/csv/dgrp100_noShock/female,20221222,riddha,False,0.239896,0.227253
3,20,dgrp100,female,operant_place,green,M,noShock,1,11:00:00,NaN,...,NaN,NaN,dgrp100_noShock,dgrp100_noShock_female,operant_place/20221222/csv/dgrp100_noShock/female,20221222,riddha,False,0.025809,0.013166
4,21,dgrp100,female,operant_place,green,R,noShock,1,11:00:00,NaN,...,NaN,NaN,dgrp100_noShock,dgrp100_noShock_female,operant_place/20221222/csv/dgrp100_noShock/female,20221222,riddha,False,0.094741,0.107385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5307,44,dnc1,male,operant_color,blue,NaN,shock,2,11:00:00,18:21:41,...,27.0,600.0,dnc1_shock,dnc1_shock_male,operant_color/20230806/csv/dnc1_shock/male,20230806,riddha,False,0.099280,0.087237
5308,45,dnc1,male,operant_color,blue,NaN,shock,2,11:00:00,18:21:41,...,70.0,600.0,dnc1_shock,dnc1_shock_male,operant_color/20230806/csv/dnc1_shock/male,20230806,riddha,False,0.082689,0.070646
5309,46,dnc1,male,operant_color,blue,NaN,shock,2,11:00:00,18:21:41,...,45.0,600.0,dnc1_shock,dnc1_shock_male,operant_color/20230806/csv/dnc1_shock/male,20230806,riddha,False,0.082759,0.070715
5310,47,dnc1,male,operant_color,blue,NaN,shock,2,11:00:00,18:21:41,...,49.0,600.0,dnc1_shock,dnc1_shock_male,operant_color/20230806/csv/dnc1_shock/male,20230806,riddha,False,0.164981,0.152937
5311,48,dnc1,male,operant_color,blue,NaN,shock,2,11:00:00,18:21:41,...,10.0,600.0,dnc1_shock,dnc1_shock_male,operant_color/20230806/csv/dnc1_shock/male,20230806,riddha,False,0.074083,0.062040

In [24]:
brain = pd.read_csv("/Users/skumar/Documents/PhD/BrainAnalysis/Results_Vol_Entropy/GWAS_Normalized_EntropyVol.tsv", sep="\t")
brain

         DGRP sex    Volume  Entropy0  Entropy1  Entropy2
0    DGRP_228   F  0.010634  1.742000  1.856059  1.821565
1    DGRP_228   M  0.010962  1.789805  1.835055  2.143064
2    DGRP_332   M  0.012916  1.414558  1.402126  1.227755
3    DGRP_100   M  0.014155  1.926577  1.925772  2.231003
4    DGRP_332   F  0.015221  1.505315  1.391551  1.341379
..        ...  ..       ...       ...       ...       ...
96   DGRP_359   F  0.028636  1.606484  1.620327  1.595721
97   DGRP_091   F  0.029890  1.716160  1.765672  1.744629
98   DGRP_176   F  0.031885  1.664873  1.721217  1.698591
99   DGRP_790   M  0.031894  1.638082  1.632863  1.792953
100  DGRP_850   F  0.033936  1.648352  1.698413  1.837693

[101 rows x 6 columns]

In [25]:
def split_string_with_dgrp(df):
    DGRP=[]
    sex = []
    for i in range(len(df)):
        if 'dgrp' in df.iloc[i, 1]:
            #print(df.iloc[i, 1])
            #DGRP.append(df.iloc[i, 1].split('dgrp')[1])
            DGRP.append(df.iloc[i, 1])
            s= df.iloc[i,2]
            #if s == "male" : s="M"
            #else: s="F"
            sex.append(s)
    return DGRP,sex
DGRP,sex = split_string_with_dgrp(behav)

In [28]:
data = behav[behav['genotype'].isin(DGRP) & behav['sex'].isin(sex) & behav["head_scanned"]==True]

In [29]:
data

,id,genotype,sex,exp_type,shock_color,shock_arm,treatment,replicates,ZT0,ZT,...,post_incorrect_choices,post_analysis_time,group,group_sex,folder,experiment_date,experiment_by,head_scanned,abs_dev,abs_dev_sex
2528,1,dgrp153,female,operant_place,green,L,shock,1,16:00:00,17:42:50,...,NaN,NaN,dgrp153_shock,dgrp153_shock_female,operant_place/20230414/csv/dgrp153_shock/female,20230414,riddha,True,0.168387,0.130132
2544,9,dgrp153,male,operant_place,green,R,shock,1,16:00:00,17:42:50,...,NaN,NaN,dgrp153_shock,dgrp153_shock_male,operant_place/20230414/csv/dgrp153_shock/male,20230414,riddha,True,0.047087,0.008831
2592,1,dgrp313,female,operant_place,green,L,shock,1,11:00:00,13:00:22,...,NaN,NaN,dgrp313_shock,dgrp313_shock_female,operant_place/20230414/csv/dgrp313_shock/female,20230414,riddha,True,0.235604,0.245171
2608,9,dgrp313,male,operant_place,green,R,shock,1,11:00:00,13:00:22,...,NaN,NaN,dgrp313_shock,dgrp313_shock_male,operant_place/20230414/csv/dgrp313_shock/male,20230414,riddha,True,0.103920,0.113488
2656,1,dgrp721,female,operant_place,green,L,shock,1,11:00:00,14:09:47,...,NaN,NaN,dgrp721_shock,dgrp721_shock_female,operant_place/20230414/csv/dgrp721_shock/female,20230414,riddha,True,0.236740,0.205605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5049,42,dgrp818,male,operant_place,green,R,shock,2,16:00:00,17:28:50,...,NaN,NaN,dgrp818_shock,dgrp818_shock_male,operant_place/20230710/csv/dgrp818_shock/male,20230710,riddha,True,0.088770,0.061299
5097,34,dgrp853,female,operant_place,green,L,shock,2,16:00:00,18:33:26,...,NaN,NaN,dgrp853_shock,dgrp853_shock_female,operant_place/20230710/csv/dgrp853_shock/female,20230710,riddha,True,0.221883,0.235297
5113,42,dgrp853,male,operant_place,green,R,shock,2,16:00:00,18:33:26,...,NaN,NaN,dgrp853_shock,dgrp853_shock_male,operant_place/20230710/csv/dgrp853_shock/male,20230710,riddha,True,0.173586,0.160172
5161,34,dgrp913,female,operant_place,green,L,shock,2,11:00:00,13:16:11,...,NaN,NaN,dgrp913_shock,dgrp913_shock_female,operant_place/20230710/csv/dgrp913_shock/female,20230710,riddha,True,0.184951,0.162527
5177,42,dgrp913,male,operant_place,green,R,shock,2,11:00:00,13:16:11,...,NaN,NaN,dgrp913_shock,dgrp913_shock_male,operant_place/20230710/csv/dgrp913_shock/male,20230710,riddha,True,0.147875,0.125452

In [30]:
#data['genotype'] = "DGRP_"+data['genotype'].str.split('dgrp').str.get(1)

data['genotype'] = data['genotype'].apply(lambda x: 'DGRP_0' + x.split('dgrp')[1] if len(x.split('dgrp')[1]) == 2 else 'DGRP_' + x.split('dgrp')[1])

/var/folders/jc/23tmvmc554b_hqpgl1mn9wch0000gq/T/ipykernel_6976/3671791993.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
data

,id,genotype,sex,exp_type,shock_color,shock_arm,treatment,replicates,ZT0,ZT,...,post_incorrect_choices,post_analysis_time,group,group_sex,folder,experiment_date,experiment_by,head_scanned,abs_dev,abs_dev_sex
2528,1,DGRP_153,female,operant_place,green,L,shock,1,16:00:00,17:42:50,...,NaN,NaN,dgrp153_shock,dgrp153_shock_female,operant_place/20230414/csv/dgrp153_shock/female,20230414,riddha,True,0.168387,0.130132
2544,9,DGRP_153,male,operant_place,green,R,shock,1,16:00:00,17:42:50,...,NaN,NaN,dgrp153_shock,dgrp153_shock_male,operant_place/20230414/csv/dgrp153_shock/male,20230414,riddha,True,0.047087,0.008831
2592,1,DGRP_313,female,operant_place,green,L,shock,1,11:00:00,13:00:22,...,NaN,NaN,dgrp313_shock,dgrp313_shock_female,operant_place/20230414/csv/dgrp313_shock/female,20230414,riddha,True,0.235604,0.245171
2608,9,DGRP_313,male,operant_place,green,R,shock,1,11:00:00,13:00:22,...,NaN,NaN,dgrp313_shock,dgrp313_shock_male,operant_place/20230414/csv/dgrp313_shock/male,20230414,riddha,True,0.103920,0.113488
2656,1,DGRP_721,female,operant_place,green,L,shock,1,11:00:00,14:09:47,...,NaN,NaN,dgrp721_shock,dgrp721_shock_female,operant_place/20230414/csv/dgrp721_shock/female,20230414,riddha,True,0.236740,0.205605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5049,42,DGRP_818,male,operant_place,green,R,shock,2,16:00:00,17:28:50,...,NaN,NaN,dgrp818_shock,dgrp818_shock_male,operant_place/20230710/csv/dgrp818_shock/male,20230710,riddha,True,0.088770,0.061299
5097,34,DGRP_853,female,operant_place,green,L,shock,2,16:00:00,18:33:26,...,NaN,NaN,dgrp853_shock,dgrp853_shock_female,operant_place/20230710/csv/dgrp853_shock/female,20230710,riddha,True,0.221883,0.235297
5113,42,DGRP_853,male,operant_place,green,R,shock,2,16:00:00,18:33:26,...,NaN,NaN,dgrp853_shock,dgrp853_shock_male,operant_place/20230710/csv/dgrp853_shock/male,20230710,riddha,True,0.173586,0.160172
5161,34,DGRP_913,female,operant_place,green,L,shock,2,11:00:00,13:16:11,...,NaN,NaN,dgrp913_shock,dgrp913_shock_female,operant_place/20230710/csv/dgrp913_shock/female,20230710,riddha,True,0.184951,0.162527
5177,42,DGRP_913,male,operant_place,green,R,shock,2,11:00:00,13:16:11,...,NaN,NaN,dgrp913_shock,dgrp913_shock_male,operant_place/20230710/csv/dgrp913_shock/male,20230710,riddha,True,0.147875,0.125452

In [32]:
data.rename(columns={'genotype': 'DGRP'}, inplace=True)

/var/folders/jc/23tmvmc554b_hqpgl1mn9wch0000gq/T/ipykernel_6976/3106402434.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
data["sex"] = data["sex"].replace(["male", "female"], ["M", "F"])

/var/folders/jc/23tmvmc554b_hqpgl1mn9wch0000gq/T/ipykernel_6976/264158564.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
merged_df = pd.merge(brain, data, on=['DGRP', 'sex'])

In [ ]:
mask = merged_df['DGRP'] != merged_df['DGRP']

In [18]:
result_df = merged_df[mask]

In [43]:
data

,id,DGRP,sex,exp_type,shock_color,shock_arm,treatment,replicates,ZT0,ZT,...,post_incorrect_choices,post_analysis_time,group,group_sex,folder,experiment_date,experiment_by,head_scanned,abs_dev,abs_dev_sex
2528,1,DGRP_153,F,operant_place,green,L,shock,1,16:00:00,17:42:50,...,NaN,NaN,dgrp153_shock,dgrp153_shock_female,operant_place/20230414/csv/dgrp153_shock/female,20230414,riddha,True,0.168387,0.130132
2544,9,DGRP_153,M,operant_place,green,R,shock,1,16:00:00,17:42:50,...,NaN,NaN,dgrp153_shock,dgrp153_shock_male,operant_place/20230414/csv/dgrp153_shock/male,20230414,riddha,True,0.047087,0.008831
2592,1,DGRP_313,F,operant_place,green,L,shock,1,11:00:00,13:00:22,...,NaN,NaN,dgrp313_shock,dgrp313_shock_female,operant_place/20230414/csv/dgrp313_shock/female,20230414,riddha,True,0.235604,0.245171
2608,9,DGRP_313,M,operant_place,green,R,shock,1,11:00:00,13:00:22,...,NaN,NaN,dgrp313_shock,dgrp313_shock_male,operant_place/20230414/csv/dgrp313_shock/male,20230414,riddha,True,0.103920,0.113488
2656,1,DGRP_721,F,operant_place,green,L,shock,1,11:00:00,14:09:47,...,NaN,NaN,dgrp721_shock,dgrp721_shock_female,operant_place/20230414/csv/dgrp721_shock/female,20230414,riddha,True,0.236740,0.205605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5049,42,DGRP_818,M,operant_place,green,R,shock,2,16:00:00,17:28:50,...,NaN,NaN,dgrp818_shock,dgrp818_shock_male,operant_place/20230710/csv/dgrp818_shock/male,20230710,riddha,True,0.088770,0.061299
5097,34,DGRP_853,F,operant_place,green,L,shock,2,16:00:00,18:33:26,...,NaN,NaN,dgrp853_shock,dgrp853_shock_female,operant_place/20230710/csv/dgrp853_shock/female,20230710,riddha,True,0.221883,0.235297
5113,42,DGRP_853,M,operant_place,green,R,shock,2,16:00:00,18:33:26,...,NaN,NaN,dgrp853_shock,dgrp853_shock_male,operant_place/20230710/csv/dgrp853_shock/male,20230710,riddha,True,0.173586,0.160172
5161,34,DGRP_913,F,operant_place,green,L,shock,2,11:00:00,13:16:11,...,NaN,NaN,dgrp913_shock,dgrp913_shock_female,operant_place/20230710/csv/dgrp913_shock/female,20230710,riddha,True,0.184951,0.162527
5177,42,DGRP_913,M,operant_place,green,R,shock,2,11:00:00,13:16:11,...,NaN,NaN,dgrp913_shock,dgrp913_shock_male,operant_place/20230710/csv/dgrp913_shock/male,20230710,riddha,True,0.147875,0.125452

In [51]:

import pandas as pd

# Assuming you have two dataframes: df1 and df2

# Merge the dataframes on "DGRP" and "sex"
merged_df = pd.merge(brain, data, on=["DGRP","sex"], how="outer", suffixes=("_df1", "_df2"))

In [52]:
merged_df

,DGRP,sex,Volume,Entropy0,Entropy1,Entropy2,id,exp_type,shock_color,shock_arm,...,post_incorrect_choices,post_analysis_time,group,group_sex,folder,experiment_date,experiment_by,head_scanned,abs_dev,abs_dev_sex
0,DGRP_228,F,0.010634,1.742000,1.856059,1.821565,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DGRP_228,M,0.010962,1.789805,1.835055,2.143064,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DGRP_332,M,0.012916,1.414558,1.402126,1.227755,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DGRP_100,M,0.014155,1.926577,1.925772,2.231003,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DGRP_332,F,0.015221,1.505315,1.391551,1.341379,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,DGRP_405,M,NaN,NaN,NaN,NaN,9.0,operant_place,blue,R,...,NaN,NaN,dgrp405_shock,dgrp405_shock_male,operant_place/20230703/csv/dgrp405_shock/male,20230703.0,riddha,True,0.164897,0.171137
159,DGRP_818,F,NaN,NaN,NaN,NaN,34.0,operant_place,green,L,...,NaN,NaN,dgrp818_shock,dgrp818_shock_female,operant_place/20230710/csv/dgrp818_shock/female,20230710.0,riddha,True,0.186570,0.159100
160,DGRP_818,M,NaN,NaN,NaN,NaN,42.0,operant_place,green,R,...,NaN,NaN,dgrp818_shock,dgrp818_shock_male,operant_place/20230710/csv/dgrp818_shock/male,20230710.0,riddha,True,0.088770,0.061299
161,DGRP_913,F,NaN,NaN,NaN,NaN,34.0,operant_place,green,L,...,NaN,NaN,dgrp913_shock,dgrp913_shock_female,operant_place/20230710/csv/dgrp913_shock/female,20230710.0,riddha,True,0.184951,0.162527
162,DGRP_913,M,NaN,NaN,NaN,NaN,42.0,operant_place,green,R,...,NaN,NaN,dgrp913_shock,dgrp913_shock_male,operant_place/20230710/csv/dgrp913_shock/male,20230710.0,riddha,True,0.147875,0.125452

In [41]:
# Filter the rows where the values in "DGRP" are not the same
filtered_df = merged_df[merged_df["DGRP_df1"] != merged_df["DGRP_df2"]]

KeyError: 'DGRP_df1'

In [37]:
# Print the values in column "DGRP" for the mismatched combinations
mismatched_values = filtered_df["DGRP_df1"].dropna().unique()
print("Mismatched values in column 'DGRP' for the combination of 'DGRP' and 'sex':")
print(mismatched_values)

,DGRP,sex_x,Volume,Entropy0,Entropy1,Entropy2,id,sex_y,exp_type,shock_color,...,post_incorrect_choices,post_analysis_time,group,group_sex,folder,experiment_date,experiment_by,head_scanned,abs_dev,abs_dev_sex
1,DGRP_732,F,0.015346,1.588548,1.597554,1.260962,48,M,operant_place,blue,...,NaN,NaN,dgrp732_shock,dgrp732_shock_male,operant_place/20230621/csv/dgrp732_shock/male,20230621,riddha,True,0.140436,0.137686
2,DGRP_732,M,0.016771,1.783274,1.885432,1.737984,40,F,operant_place,blue,...,NaN,NaN,dgrp732_shock,dgrp732_shock_female,operant_place/20230621/csv/dgrp732_shock/female,20230621,riddha,True,0.164331,0.167038
5,DGRP_737,F,0.015415,1.872372,1.885794,2.107636,10,M,operant_place,blue,...,NaN,NaN,dgrp737_shock,dgrp737_shock_male,operant_place/20230707/csv/dgrp737_shock/male,20230707,riddha,True,0.080066,0.069080
6,DGRP_737,M,0.018805,1.808627,1.864490,2.106834,2,F,operant_place,blue,...,NaN,NaN,dgrp737_shock,dgrp737_shock_female,operant_place/20230707/csv/dgrp737_shock/female,20230707,riddha,True,0.207584,0.196769
9,DGRP_309,F,0.017028,1.472865,1.705017,1.962350,9,M,operant_place,blue,...,NaN,NaN,dgrp309_shock,dgrp309_shock_male,operant_place/20230703/csv/dgrp309_shock/male,20230703,riddha,True,0.110822,0.106943
10,DGRP_309,M,0.017826,1.736349,1.755159,1.873762,1,F,operant_place,blue,...,NaN,NaN,dgrp309_shock,dgrp309_shock_female,operant_place/20230703/csv/dgrp309_shock/female,20230703,riddha,True,0.053567,0.057445
12,DGRP_437,M,0.017706,1.640324,1.689384,1.834623,2,F,operant_place,blue,...,NaN,NaN,dgrp437_shock,dgrp437_shock_female,operant_place/20230705/csv/dgrp437_shock/female,20230705,riddha,True,0.157227,0.158835
15,DGRP_437,F,0.019896,1.616853,1.677944,1.791408,10,M,operant_place,blue,...,NaN,NaN,dgrp437_shock,dgrp437_shock_male,operant_place/20230705/csv/dgrp437_shock/male,20230705,riddha,True,0.042431,0.040824
17,DGRP_354,F,0.018734,1.496644,1.578005,1.880820,48,M,operant_place,green,...,NaN,NaN,dgrp354_shock,dgrp354_shock_male,operant_place/20230621/csv/dgrp354_shock/male,20230621,riddha,True,0.094630,0.113490
18,DGRP_354,M,0.019798,1.465704,1.632769,1.955570,40,F,operant_place,green,...,NaN,NaN,dgrp354_shock,dgrp354_shock_female,operant_place/20230621/csv/dgrp354_shock/female,20230621,riddha,True,0.017099,0.002430
21,DGRP_786,F,0.018789,1.650172,1.683090,1.689623,10,M,operant_place,blue,...,NaN,NaN,dgrp786_shock,dgrp786_shock_male,operant_place/20230705/csv/dgrp786_shock/male,20230705,riddha,True,0.228288,0.222473
22,DGRP_786,M,0.021380,1.658725,1.704068,1.609534,2,F,operant_place,blue,...,NaN,NaN,dgrp786_shock,dgrp786_shock_female,operant_place/20230705/csv/dgrp786_shock/female,20230705,riddha,True,0.148576,0.154391
24,DGRP_031,M,0.019653,1.560371,1.559431,1.639554,40,F,operant_place,green,...,NaN,NaN,dgrp31_shock,dgrp31_shock_female,operant_place/20230621/csv/dgrp31_shock/female,20230621,riddha,True,0.068335,0.072473
26,DGRP_853,M,0.019990,1.646468,1.791665,2.156338,34,F,operant_place,green,...,NaN,NaN,dgrp853_shock,dgrp853_shock_female,operant_place/20230710/csv/dgrp853_shock/female,20230710,riddha,True,0.221883,0.235297
29,DGRP_853,F,0.023340,1.703184,1.724505,2.223834,42,M,operant_place,green,...,NaN,NaN,dgrp853_shock,dgrp853_shock_male,operant_place/20230710/csv/dgrp853_shock/male,20230710,riddha,True,0.173586,0.160172
30,DGRP_091,M,0.020577,1.719971,1.633808,1.545181,40,F,operant_place,blue,...,NaN,NaN,dgrp91_shock,dgrp91_shock_female,operant_place/20230621/csv/dgrp91_shock/female,20230621,riddha,True,0.124777,0.123178
33,DGRP_091,F,0.029890,1.716160,1.765672,1.744629,48,M,operant_place,blue,...,NaN,NaN,dgrp91_shock,dgrp91_shock_male,operant_place/20230621/csv/dgrp91_shock/male,20230621,riddha,True,0.008511,0.010111
34,DGRP_850,M,0.021624,1.833879,1.853082,2.141067,1,F,operant_place,green,...,NaN,NaN,dgrp850_shock,dgrp850_shock_female,operant_place/20230703/csv/dgrp850_shock/female,20230703,riddha,True,0.115575,0.118200
37,DGRP_850,F,0.033936,1.648352,1.698413,1.837693,9,M,operant_place,green,...,NaN,NaN,dgrp850_shock,dgrp850_shock_male,operant_place/20230703/csv/dgrp850_shock/male,20230703,riddha,True,0.072065,0.069440
39,DGRP_405,F,0.022453,1.675530,1.729582,2.025458,9,M,operant_place,blue,...,NaN,NaN,dgrp405_shock,dgrp405_shock_male,operant_place/20230703/csv/dgrp405_shock/male,20230703,riddha,True,0.164897,0.171137
40,DGRP_026,M,0.023203,1.754024,1.748252,1.428661,2,F,operant_place,blue,...,NaN,NaN,dgrp26_shock,dgrp26_shock_female,operant_place/20230707/csv/dgrp26_shock/female,20230707,riddha,True,0.070751,0.077445
43,DGRP_026,F,0.025922,1.721604,1.713125,1.712864,10,M,operant_place,blue,...,NaN,NaN,dgrp26_shock,dgrp26_shock_male,operant_place/20230707/csv/dgrp26_shock/male,20230707,riddha,True,0.202045,0.208740

In [62]:
unique_dgrp = data[~data['DGRP'].isin(brain['DGRP'])]

unique_dgrp[["DGRP","sex"]].values

array([['DGRP_153', 'F'],
       ['DGRP_153', 'M'],
       ['DGRP_313', 'F'],
       ['DGRP_313', 'M'],
       ['DGRP_721', 'F'],
       ['DGRP_721', 'M'],
       ['DGRP_808', 'F'],
       ['DGRP_808', 'M'],
       ['DGRP_765', 'F'],
       ['DGRP_765', 'M'],
       ['DGRP_776', 'F'],
       ['DGRP_776', 'M'],
       ['DGRP_855', 'F'],
       ['DGRP_855', 'M'],
       ['DGRP_382', 'F'],
       ['DGRP_382', 'M'],
       ['DGRP_627', 'F'],
       ['DGRP_627', 'M'],
       ['DGRP_440', 'F'],
       ['DGRP_440', 'M'],
       ['DGRP_563', 'F'],
       ['DGRP_563', 'M'],
       ['DGRP_911', 'F'],
       ['DGRP_911', 'M'],
       ['DGRP_227', 'F'],
       ['DGRP_227', 'M'],
       ['DGRP_319', 'F'],
       ['DGRP_319', 'M'],
       ['DGRP_822', 'F'],
       ['DGRP_822', 'M'],
       ['DGRP_189', 'F'],
       ['DGRP_189', 'M'],
       ['DGRP_801', 'F'],
       ['DGRP_801', 'M'],
       ['DGRP_805', 'F'],
       ['DGRP_805', 'M'],
       ['DGRP_892', 'F'],
       ['DGRP_892', 'M'],
       ['DGRP_093', 'F'],
       ['DGRP_093', 'M'],
       ['DGRP_217', 'F'],
       ['DGRP_217', 'M'],
       ['DGRP_391', 'F'],
       ['DGRP_391', 'M'],
       ['DGRP_738', 'F'],
       ['DGRP_738', 'M'],
       ['DGRP_897', 'F'],
       ['DGRP_897', 'M'],
       ['DGRP_318', 'F'],
       ['DGRP_318', 'M'],
       ['DGRP_227', 'F'],
       ['DGRP_227', 'M'],
       ['DGRP_855', 'F'],
       ['DGRP_855', 'M'],
       ['DGRP_627', 'F'],
       ['DGRP_627', 'M'],
       ['DGRP_818', 'F'],
       ['DGRP_818', 'M'],
       ['DGRP_913', 'F'],
       ['DGRP_913', 'M']], dtype=object)

In [63]:
len(unique_dgrp["DGRP"].values
)

60